---
layout: default
---
{% include nav.html %}

<p><b>{{ page.day }} / Week {{ page.week }}</b></p>

<h1>
	{{ page.title }}
	{% for tag in page.tags %}
		<b>#{{ tag }}</b>
	{% endfor %}
</h1>

{% if page.image %}
{% assign image_url = site.baseurl | append: '/style/' | append: page.image %}
<div style=" height: 200px;">
  <img src="{{ image_url }}" alt="Banner Image" style="object-fit: cover; width: 100%; height: 100%;">
</div>
{% else %}
<img src="{{ site.baseurl }}/style/books1.jpg" width="100%">
{% endif %}

{{content}}


{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
	{% assign  document = site[the_collection] | sort: "week"   %}
{% endif %}
{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '{{ site.baseurl }}{{prevurl}}'; }
if (e.keyCode == '39') { window.location = '{{ site.baseurl }}{{nexturl}}'; }
};
</script>

<div class="unitPagination">
	{% if prevurl %}<a href="{{ site.baseurl }}{{prevurl}}" class="prev">⇦ previous week</a>{% endif %}
	{% if nexturl %}<a href="{{ site.baseurl }}{{nexturl}}" class="next">next week ⇨</a>{% endif %}
</div>
